/* default radar chart styling */

body {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    cursor: default;
}

.legend {
    font-weight: 400;
    font-size: 1.1em;
}

.tooltip {
    fill: #333333;
    font-size: 1.1em;
    font-weight: 400;
}

/* responsive sizing for radar chart */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.radar-chart {
    flex-basis: 100%;
    max-width: 100vh;
}

.radar-chart-wrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .main {
        display: inline-block;
        width: 100%;
    }
    .radar-chart-wrapper {
        display: block;
        width: 100%;
    }
    .radar-chart {
        width: 100%;
    }
}

/* Player Info Styling  */

.player-sidebar {
}

.player-info {
    font-size: 1.1em;
    text-shadow: none;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

#player-one-info {
    background-color: rgba(53, 171, 169, 0.4);
    border: 0.2em solid rgba(53, 171, 169, 1);
}

.player-one-select {
    background-color: rgba(53, 171, 169, 0.4) !important;
    font-size: 1.75em !important;
}

.player-one-dropdown {
    font-size: 1.2em;
}

#player-two-info {
    background-color: rgba(234, 142, 72, 0.4);
    border: 0.2em solid rgba(234, 142, 72, 1);
}

.player-two-select {
    background-color: rgba(234, 142, 72, 0.4) !important;
    font-size: 1.75em !important;
}

.player-two-dropdown {
    font-size: 1.2em;
}

#player-three-info {
    background-color: rgba(150, 89, 181, 0.4);
    border: 0.2em solid rgba(150, 89, 181, 1);
}

.player-three-select {
    background-color: rgba(150, 89, 181, 0.4) !important;
    font-size: 1.75em !important;
}

.player-three-dropdown {
    font-size: 1.2em;
}

/* filter Styling */
#filter {
    font-size: 1.1em;
    text-shadow: none;
    border-radius: 1em;
    margin: none;
    width: 100%;
    padding: 0.5em;
    background-color: #ededed;
    border: 0.2em solid #dedede;
    color: #737373;
}

.button-wrapper {
    padding: 0em 1em;
}

/* assorted */

hr {
    border: 0;
    height: 0.15em;
    background: rgba(0, 0, 0, 1);
    margin: 0.5em;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

.bold {
    font-weight: 400;
}

.dropdown-button {
    padding: 0;
    font-size: 1.1em;
    font-weight: 400;
}

/* https://stackoverflow.com/a/33496943 */

button[aria-expanded="true"] .arrow-down {
    display: none;
}

button[aria-expanded="false"] .arrow-up {
    display: none;
}

button[aria-expanded="false"] .arrow-up {
    display: none;
}
